@charset "UTF-8";
:root {
  --ubee-base: 16px;
  --ubee-gutter: calc(var(--ubee-base) * 2);
  --ubee-primary-050: #f2d7ee;
  --ubee-primary-100: #df9bd5;
  --ubee-primary-200: #cc5fbc;
  --ubee-primary-300: #c343b0;
  --ubee-primary-400: #aa3699;
  --ubee-primary-500: #8e2d80;
  --ubee-primary-600: #712466;
  --ubee-primary-700: #551b4d;
  --ubee-primary-800: #391233;
  --ubee-primary-900: #1c091a;
  --ubee-secondary-050: #dbe2fb;
  --ubee-secondary-100: #a4b6f5;
  --ubee-secondary-200: #6d8aef;
  --ubee-secondary-300: #466beb;
  --ubee-secondary-400: #1f4be6;
  --ubee-secondary-500: #153cc4;
  --ubee-secondary-600: #11309d;
  --ubee-secondary-700: #0d2476;
  --ubee-secondary-800: #09184e;
  --ubee-secondary-900: #040c27;
  --ubee-text-dark: #18131d;
  --ubee-text: #352a40;
  --ubee-text-light: #524163;
  --ubee-error: #d10000;
  --ubee-warning: #f5bb00;
  --ubee-success: #8fc93a;
  --ubee-status-busy: #f24c00;
  --ubee-status-ready: #8fc93a;
  --ubee-form-input: #f2f2f2;
  --ubee-form-input-label: #a7a5a9;
  --ubee-bg-status-new: #f5f7ff;
  --ubee-bg-status-process: #fff6d8;
  --ubee-bg-status-done: #efffd8;
  --ubee-bg-status-canceled: #ffefef;
  --ubee-gradient: linear-gradient(
    135deg,
    var(--ubee-primary-200) 0%,
    var(--ubee-secondary-200) 100%
  );
  --ubee-font-header: 'ClearSans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', sans-serif;
  --ubee-font-text: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#app {
  width: 100vw;
}

html {
  background-color: var(--bs-gray-100);
}

body {
  background-color: transparent !important;
  padding: 0 0 var(--ubee-gutter) 0;
}

.header {
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base) 0 0 0;
}

.footer-copyrights {
  color: var(--bs-gray-600);
  font-size: 12px;
  line-height: 16px;
}

.footer-apps > a {
  display: block;
}

.footer-apps img {
  display: block;
  height: 40px;
}

.logo {
  height: 24px;
  margin: 0;
  width: 22px;
}

.logo__image {
  height: 44px;
  width: 40px;
}

.btn-primary {
  background: var(--ubee-gradient) !important;
  border: none !important;
  border-radius: 20px !important;
  color: var(--bs-white) !important;
  font-family: var(--ubee-font-header) !important;
  font-weight: 700 !important;
  letter-spacing: 0.05em !important;
  padding: 10px 16px 10px 16px !important;
  text-transform: uppercase !important;
}

.banner-close {
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  right: calc(var(--ubee-gutter) / 4);
  top: calc(var(--ubee-gutter) / 4);
  width: 24px;
  z-index: 2;
}

.banner-close img {
  display: block;
  height: 24px;
  width: 24px;
}

.banner-apps > div {
  background: var(--bs-white) url('./images/illustration-master.png') -10px 8px/140px auto no-repeat;
  min-height: 120px;
  padding-left: 130px !important;
  position: relative;
}

.banner-apps p {
  font-size: 14px;
  line-height: 1.5;
}

.btn-primary {
  background: var(--ubee-gradient);
  border: none;
  border-radius: 20px;
  color: var(--bs-white);
  font-family: var(--ubee-font-header);
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 6px 16px 6px 16px;
  text-transform: uppercase;
}

.master {
  background-color: var(--bs-white);
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base);
}

.master-info {
  position: relative;
}

.master-avatar {
  height: 80px;
  margin: 0;
  overflow: hidden;
  padding: 2px;
  width: 80px;
}

.master-avatar__image {
  height: 72px;
  width: 72px;
  scale: 1.1;
}

.master-avatar__small {
  height: 60px;
  width: 60px;
}

.master-avatar__small .master-avatar__image {
  height: 52px;
  width: 52px;
}

.master-map {
  position: relative;
}

.master-map > #map {
  bottom: 0;
  position: absolute;
  left: 12px;
  overflow: hidden;
  right: 12px;
  top: 0;
}

.map-container {
  border-radius: var(--bs-border-radius) !important;
}

.master-skills {
  margin: calc(var(--ubee-base) / -2) 0 0 0;
}

.master-skill {
  background-color: var(--ubee-secondary-050);
  font-size: 12px;
  margin: calc(var(--ubee-base) / 2) calc(var(--ubee-base) / 2) 0 0;
  overflow: hidden;
}

.master-skill span {
  color: var(--ubee-secondary-600);
  line-height: 24px;
  padding: 0 8px 0 12px;
  white-space: nowrap;
}

.master-skill span:last-child {
  color: var(--ubee-primary-600);
  background-color: var(--ubee-primary-050);
  padding-right: 12px;
}

.master-rating {
  color: var(--ubee-secondary-200);
  font-size: 12px;
}

.master-rating span {
  background-image: url('./svg/icon-rating-comment.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.master-rating span:first-child {
  background-image: url('./svg/icon-rating-star-blue.svg');
}

.services {
  background-color: var(--bs-white);
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base);
}

.portfolio {
  background-color: var(--bs-white);
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base) var(--ubee-base) calc(var(--ubee-base) / 2) var(--ubee-base);
}

.portfolio-image {
  margin: 0;
  overflow: hidden;
}

.portfolio-image > img {
  max-width: 100%;
  display: block;
}

.comments {
  background-color: var(--bs-white);
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base);
}

.block-header {
  font-size: 18px;
  line-height: 20px;
}

.block-subheader {
  font-size: 16px;
  line-height: 20px;
}

.service {
  border-color: var(--bs-gray-200);
}

.service .accordion-button {
  padding-right: 56px;
}

.service .accordion-button:not(.collapsed) {
  color: var(--ubee-secondary-200);
  background-color: var(--bs-gray-100);
}

.service .accordion-button:not(.collapsed):after {
  transform: translateY(-50%) rotate(180deg);
}

.service .accordion-button:after {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.service-header strong {
  display: block;
  font-weight: normal;
}

.service-header span {
  color: var(--ubee-primary-200);
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.service-items {
  list-style: none;
}

.service-item {
  display: flex;
  align-items: center;
  position: relative;
}

.service-item:not(:first-child) {
  margin-top: var(--ubee-base);
}

.service-item:before {
  background-color: var(--ubee-secondary-100);
  content: '';
  display: block;
  flex-grow: 1;
  height: 1px;
  margin: 0 calc(var(--ubee-base) / 4);
  opacity: 0.25;
  order: 2;
  position: relative;
  top: 8px;
  transition: all 0.2s linear;
}

.service-item.is-active:before {
  background-color: var(--ubee-success);
}

.service-item.is-active .service-item__price,
.service-item.is-active .service-item__title {
  color: var(--ubee-success);
}

.service-item__price,
.service-item__title {
  font-size: 14px;
  line-height: 16px;
  transition: all 0.2s linear;
}

.service-item__price {
  flex: 0 0 auto;
  white-space: nowrap;
}

.service-item__price {
  order: 3;
}

.service-item__title {
  font-weight: normal;
  order: 1;
}

.service-item__title > span {
  color: var(--bs-gray-600);
  display: block;
  font-size: 12px;
  line-height: 16px;
}

.appointment {
  background-color: var(--bs-white);
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base);
}

.appointment-services {
  position: relative;
}

.appointment-services__header {
  color: var(--bs-gray-500);
  font: 400 12px/16px var(--ubee-font-text);
}

.appointment-services__total {
  position: relative;
}

.appointment-services__total:before {
  background-color: var(--bs-black);
  content: '';
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
}

.appointment-services__total dl {
  color: var(--bs-gray-500);
}

.appointment-services__total dt {
  font: 400 12px/16px var(--ubee-font-text);
}

.appointment-services__total dd {
  font: 400 14px/16px var(--ubee-font-text);
}

.appointment-services__total dd strong {
  color: var(--ubee-success);
}

.appointment-services .service-item {
  padding-left: 32px;
}

.appointment-service__select {
  cursor: pointer;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.appointment-service__select > input {
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
}

.appointment-service__select > input:checked + span {
  background-color: var(--ubee-success);
  color: var(--bs-white);
}

.appointment-service__select > input:checked + span:before {
  opacity: 1;
}

.appointment-service__select > span {
  background-color: var(--ubee-secondary-050);
  border-radius: 50%;
  display: block;
  height: 24px;
  left: 0;
  padding: 4px;
  position: relative;
  top: 0;
  transition: all 0.2s linear;
  width: 24px;
}

.appointment-service__select > span:before {
  border: 2px solid #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  opacity: 0;
  transition: all 0.2s linear;
  width: 16px;
}

.appointment-modal {
  border: 0;
}

.appointment-modal .modal-body {
  font: 400 12px/1.5 var(--ubee-font-text);
}

.appointment-modal__master-info {
  background-color: var(--ubee-secondary-050);
  text-align: center;
}

.appointment-modal__master-info p {
  margin: 0;
}

.appointment-modal__master-info p:not(:first-child) {
  margin-top: calc(var(--ubee-base) / 4);
}

.appointment-modal__app figure {
  height: 98px;
  margin: 0 auto;
  width: 80px;
}

.appointment-modal__app figure img {
  height: 98px;
  width: 80px;
}

.form-datetime {
  list-style: none;
  margin-top: calc(var(--ubee-base) / 2 * -1);
}

.form-datetime > li {
  margin: calc(var(--ubee-base) / 2) calc(var(--ubee-base) / 2) 0 0 !important;
}

.form-datetime__item {
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
}

.form-datetime__item > input {
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
}

.form-datetime__item > input:checked + span {
  background-color: var(--ubee-success);
  color: var(--bs-white);
}

.form-datetime__item > span {
  background-color: var(--ubee-secondary-050);
  color: var(--ubee-secondary-600);
  height: 24px;
  font: 400 12px/16px monospace;
  overflow: hidden;
  padding-bottom: 4px;
  padding-top: 4px;
  transition: all 0.2s linear;
}

.form-textarea {
  background-color: var(--bs-gray-100);
  border: 0;
  font: 400 14px/1.5 var(--ubee-font-text);
  height: 80px;
  resize-x: none;
  resize-y: auto;
}

.form-checkradio {
  overflow: hidden;
}

.form-checkradio > input {
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
}

.form-checkradio > input:checked + label:after {
  background-color: var(--ubee-success);
}

.form-checkradio > input:checked + label:before {
  opacity: 1;
}

.form-checkradio > label {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  padding-left: 32px;
  position: relative;
}

.form-checkradio > label:after {
  background-color: var(--ubee-secondary-050);
  border-radius: 50%;
  content: '';
  display: block;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  width: 24px;
  z-index: 1;
}

.form-checkradio > label:before {
  border: 2px solid #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transition: all 0.2s linear;
  width: 16px;
  z-index: 2;
}

.reviews {
  list-style: none;
}

.review:not(:first-child) {
  border-top: 1px solid var(--bs-gray-200);
  margin-top: var(--ubee-base);
  padding-top: var(--ubee-base);
}

.review > h5 {
  font-size: 14px;
  line-height: 16px;
}

.review > strong {
  color: var(--ubee-primary-200);
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

.review > p {
  font-size: 13px;
  line-height: 16px;
}

.review > span {
  color: var(--bs-gray-600);
  font-size: 12px;
  line-height: 16px;
}

.appointment {
  background-color: var(--bs-white);
  margin-bottom: var(--ubee-base);
  padding: var(--ubee-base);
}

.appointment-agree {
  cursor: pointer;
  color: var(--bs-gray-600);
  font: 400 12px/16px var(--ubee-font-text);
}

.appointment-agree a {
  color: var(--bs-gray-600);
  cursor: pointer;
  text-decoration: underline !important;
}

.appointment-services {
  position: relative;
}

.appointment-services__header {
  color: var(--bs-gray-500);
  font: 400 12px/16px var(--ubee-font-text);
}

.appointment-services__total {
  position: relative;
}

.appointment-services__total:before {
  background-color: var(--bs-black);
  content: '';
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
}

.appointment-services__total dl {
  color: var(--bs-gray-500);
}

.appointment-services__total dt {
  font: 400 12px/16px var(--ubee-font-text);
}

.appointment-services__total dd {
  font: 400 14px/16px var(--ubee-font-text);
}

.appointment-services__total dd strong {
  color: var(--ubee-success);
}

.appointment-services .service-item {
  padding-left: 32px;
}

.appointment-service__select {
  cursor: pointer;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.appointment-service__select > input {
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
}

.appointment-service__select > input:checked + span {
  background-color: var(--ubee-success);
  color: var(--bs-white);
}

.appointment-service__select > input:checked + span:before {
  opacity: 1;
}

.appointment-service__select > span {
  background-color: var(--ubee-secondary-050);
  border-radius: 50%;
  display: block;
  height: 24px;
  left: 0;
  padding: 4px;
  position: relative;
  top: 0;
  transition: all 0.2s linear;
  width: 24px;
}

.appointment-service__select > span:before {
  border: 2px solid #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  opacity: 0;
  transition: all 0.2s linear;
  width: 16px;
}

.appointment-modal {
  border: 0;
}

.appointment-modal p {
  margin: 0;
}

.appointment-modal p:not(:first-child) {
  margin-top: var(--ubee-base);
}

.appointment-modal__master-info {
  background-color: var(--ubee-secondary-050);
  font: 400 12px/1.5 var(--ubee-font-text);
  text-align: center;
}

.appointment-modal__master-info p {
  margin: 0;
}

.appointment-modal__master-info p:not(:first-child) {
  margin-top: calc(var(--ubee-base) / 4);
}

.appointment-modal__app {
  font: 400 12px/1.5 var(--ubee-font-text);
}

.appointment-modal__app figure {
  height: 98px;
  margin: 0 auto;
  width: 80px;
}

.appointment-modal__app figure img {
  height: 98px;
  width: 80px;
}

.swiper-slide {
  aspect-ratio: 1/1;
  border-radius: 12px !important;
  cursor: zoom-in;
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.swiper-slide > img {
  display: block;
  max-width: 100%;
}

.swiper-pagination {
  align-items: center !important;
  display: flex !important;
  height: auto !important;
  justify-content: center !important;
  margin-top: calc(var(--ubee-base) / 2) !important;
  position: relative !important;
  top: 0 !important;
}

.swiper-pagination-bullet {
  background-color: var(--ubee-primary-200) !important;
  border-radius: 4px !important;
  height: calc(var(--ubee-base) / 2) !important;
  opacity: 0.2 !important;
  transition: all 0.2s linear !important;
  width: calc(var(--ubee-base) / 2) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--ubee-primary-200) !important;
  border-color: var(--ubee-primary-200) !important;
  opacity: 1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-horizontal > .swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-fraction {
  top: 0 !important;
}

.dp__main > div:nth-child(2) {
  width: 100% !important;
}

.dp__calendar_header_item {
  color: var(--bs-gray-500) !important;
  font-weight: 400 !important;
}

.dp__calendar_item {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}

.dp__month_year_wrap {
  align-items: center !important;
  justify-content: center !important;
}

.dp__month_year_select {
  width: auto !important;
}

.dp__cell_inner {
  border-radius: 50% !important;
  color: var(--ubee-secondary-600) !important;
  transition: all 0.2s linear !important;
}

.dp__today {
  background-color: var(--ubee-secondary-050) !important;
  border: none !important;
}

.dp__active_date {
  background-color: var(--ubee-success) !important;
  color: var(--bs-white) !important;
}

.dp--past {
  color: var(--bs-gray-500) !important;
}

.dp--past.dp__active_date {
  background-color: var(--ubee-success) !important;
  color: var(--bs-white) !important;
}

@media (hover: hover) {
  .service-item:hover:before {
    opacity: 1;
  }

  .service-item:hover .service-item__title,
  .service-item:hover .service-item__price {
    color: var(--ubee-secondary-200);
  }

  .service-item.is-active:hover .service-item__title,
  .service-item.is-active:hover .service-item__price {
    color: var(--ubee-success);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 920px !important;
  }
}

@media (max-width: 768px) {
  .master-map {
    height: 140px;
  }
}

@media (max-width: 576px) {
  body {
    padding-right: var(--ubee-base);
  }

  .banner-apps > div {
    background: var(--bs-white) url('./images/illustration-master.png') 8px 8px/72px auto no-repeat;
    padding-left: 80px !important;
  }
}

@font-face {
  font-family: 'ClearSans';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/ClearSans-Thin.woff2') format('woff2');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ClearSans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ClearSans-Regular.woff2') format('woff2');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ClearSans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/ClearSans-Bold.woff2') format('woff2');
  text-rendering: optimizeLegibility;
}
